@property --dark-code-editor-background-color {
    syntax: '<color>';
    initial-value: #1e1e1e;
    inherits: false;
}


.code-section-container {
    background: var(--dark-code-editor-background-color);
    border-radius: 15px;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.code-section-container .buttons-container {
    position: absolute;
    top: 25px;
    right: 45px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 12px;
    background-color: #353535;
    padding: 14px 15px;
    border-radius: 10px;
}

.code-section-container .buttons-container img {
    height: 100%;
    cursor: pointer;
}

.cm-editor {
    background: var(--dark-code-editor-background-color);;
    width: 100%;
}

.cm-content {
    font-size: 13px;
    font-weight: bold;
}

.cm-gutter {
    background: var(--dark-code-editor-background-color);;
}

.ͼo .cm-activeLine {
    background: var(--primary-hover-color);
}