
.project-files-section-folders {
    padding: 15px 10px;
    display: inline-block;
    justify-content: center;
    gap: 1rem;
    background-color: #1e1e1e;
    border-radius: 15px;
    overflow-y: scroll;
    min-width: 16%;
    scrollbar-width: none;
}