.container {
    display: flex;
    width: 10px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    background-color: #221c32;
    overflow: hidden;
    padding: 12px 5px;
    border-radius: 20px;
    transition: opacity 0.1s ease, visibility 0.1s ease;
}

.icon {
    width: 20px;
}
