
#color-input {
    width: 35px;
    height: 15px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px; /* Round the corners */
    padding: 0;
    outline: none;
    position: absolute;
    border: 2px solid white; /* No border */
    margin-left: 105px;
    margin-right: 3px; /* Fixed distance from the text */
}

#color-input::-webkit-color-swatch {
    border: none;
}

#color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}
