
.container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 450px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 15px 15px 0;
}

.sidebar {
    font-size: 13px;
    color: white;
    background-color: var(--primary-color);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 5px;
    transition: max-width 0.3s ease-out;
}

.sidebar-content {
    margin: auto;
    width: 100%;
}

.sidebar-handle-container {
    display: flex;
    justify-content: center;
}

.sidebar-handle {
    background-color: var(--primary-color);
    border: none;
    width: 24px;
    color: white;
    cursor: pointer;
}

.arrow-icon {
    width: 50%;
}