.container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 320px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 15px 15px 0;
}

.sidebar {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: white;
    overflow: auto;
    padding: 5px 5px
}

.sidebar-content {
    margin: auto;
}

.sidebar-handle-container {
    display: flex;
    justify-content: center;
}

.sidebar-handle {
    background-color: white;
    border: none;
    width: 24px;
    color: white;
    cursor: pointer;
}

.arrow-icon {
    width: 65%;
    filter: invert(1);
}