@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
  font-family: "Instrument Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.color-mapper-component {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.sidebar-component {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}


.controls {
  background-color: #221c32;
  border-radius: 20px;
}

.controls button {
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  background-color: #221C32;
  color: white;
  transition: background-color 0.1s ease;
}

.controls button:hover {
  color: white;
  background-color: #322a4c;
}

.horizontal-toolbar-component {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-toolbar-component {
  position: fixed;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.generate-code-button-component {
  position: fixed;
  top: 12px;
  right: 12px;
}

.project-name-container {
  position: fixed;
  top: 10px;
  left: 10px;
  margin: 0;
}

.project-name-container p {
  font-family: Inter, sans-serif;
  margin: 0;
}

.project-name-container .codeless-uml {
  font-size: 20px;
  font-weight: 500;
}

.project-name-container .project-name {
  color: #1D1D1D;
}

