.attribute, .method {
   font: "roboto-mono"
   
}


.packageName {
   height: "30px",
   width: `${props.width / 2}px`,
   backgroundColor: "rgb(197, 207, 214)",
   textAlign: "center",
   padding: "3px",
   marginBottom: "-3px",
   color: "black";
   fontSize: "20px";
   border: "solid black";
   borderRadius: "20px 0px 0px 0px"
}

const styles =
   methodsBlock: {
     marginTop: "-20px",
     height: `${props.methodesHeight}px`,
     padding: "5px",
     backgroundColor: "white",
     border: "solid black",
     borderRadius: "0px 0px 20px 20px",
     width: `${props.width}px`,
   },

   attribute: {
     width: `${props.width}px`,
     fontSize: "20px",
   },

   delete:{
     marginRight: "-20px",
     width: "10px",
     height: "20px",
     borderRadius: "50%",
     backgroundColor: "black",
     color: "white",
     fontSize: "10px",
   }
 };


 const styles ={
   nameBlock: {
     height: "35px",
     fontSize: "22px",
     fontWeight: "bold",
     textAlign: "center",
     color: "black",
     padding: "5px",
     border: "solid black",
     borderRadius: "0px 20px 0px 0px",
     backgroundColor: props.color,
     width:`${props.width}px`,
   }
 };


.button {
   padding: "2px",
   alignItems: 'center',
   fontSize: "15px",
   backgroundColor: "black",
   color: "white",
   border: "solid black",
   borderRadius: "20px",
   cursor: 'pointer',
}
.buttons: {
     marginTop: "-20px",
     width: `${props.width}px`,
     padding: "2px",
     display: "flex",
     justifyContent: "space-evenly",
     opacity: 0,
     transition: 'opacity 0.2s ease-in-out',
   },
   buttonsVisible: {
     opacity: 1,
   }
 }; component
 const styles = {
    attributesBlock: {
      marginTop: "-3px",
      height: `${props.attributesHeight}px`,
      padding: "5px",
      paddingBottom: "17px",
      backgroundColor: "white",
      border: "solid black",
      borderRadius: "0px 0px 20px 20px",
      width: `${props.width}px`,
    },

    attribute: {
      width: `${props.width}px`,
      fontSize: "20px",
    },

    delete:{
      marginRight: "-20px",
      width: "10px",
      height: "20px",
      borderRadius: "50%",
      backgroundColor: "black",
      color: "white",
      fontSize: "10px",
    }
  };