.attributesBlock {
  position: relative;
  padding-bottom: 40px;
}

.attribute-button {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.methodsBlock {
  position: relative;
  padding-bottom: 40px;
}

.method-button {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.attribute-buttons,
.method-buttons{
  position: absolute;
  bottom: -7px;
  transform: translateX(-50%);
}

.attribute-buttons {
  left: 33%;
}

.method-buttons {
  left: 67%;
}

.attribute-button,
.method-button,
.attribute-buttons,
.method-buttons {
  position: absolute;
  width: 70px;
  z-index: 1;
  align-items: center;
  font-size: 11px;
  background-color: #221C32;
  color: white;
  border: solid black;
  border-radius: 20px;
  cursor: pointer;
  border-width: 2px;
}

.attributesBlock,
.methodsBlock {
  padding: 5px;
  background-color: white;
  min-width: 260px;
  height: auto;
  min-height: 30px;
  padding-bottom: 17px;
  border: solid black;
  border-radius: 0px 0px 20px 20px;
  padding-right: 30px;
  padding-top: 10px;
  border-width: 2px;
}

.methodsBlock {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 35px;
}

.delete {
  width: 20px;
  position: absolute;
  right: 5px;
}

.attribute,
.method {
  display: flex;
  font-size: 20px;
  min-width: 20px;
  width: auto;
}

.input{
  background-color: transparent;
  border: none;
  outline: none;
  min-width: 1px;
  font-size: 18px;
  padding: 0;
  margin: 2px;
}

.packageBlock {
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  max-width: 40%;
  background-color: rgb(197, 207, 214);
  text-align: center;
  align-content: center;
  padding: 3px;
  margin-bottom: -3px;
  color: black;
  font-size: 20px;
  border: solid black;
  border-width: 2px;
  border-radius: 20px 0px 0px 0px;
}

.nameBlock {
  height: 35px;
  width: auto;
  align-content: center;
  min-width: 250px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 5px;
  border: solid black;
  border-bottom: none;
  border-radius: 0px 20px 0px 0px;
  border-width: 2px;
  /* margin-bottom: 2px; */
}


.attribute-scope {
  background-color: 'transparent';
  border: none;
  font-family: Roboto mono, monospace;
  font-size: 20px;
  appearance: none;
  justify-content: center;
}
.attribute-scope option {
  justify-content: center;
}

.attribute-scope:focus {
  outline: none;
}

.attribute-scope-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #888;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-color: #F1F1F1;
  border-radius: 10px;
  font-family: Roboto mono, monospace;
  z-index: 3;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.close {
  align-self: flex-end;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: -20px;
  z-index: 4;
}



.dropdown-selected{
  padding-top: 2px;
  font-size: 20px;
  font-family: Roboto mono, monospace;
  cursor: pointer;
}

